<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BIO UI Sanity Level Testing">
<test name = "BIO UI Verification ">
<classes>
<class name = "com.mainapp.tests.LoginPageTest"></class>
<class name = "com.mainapp.tests.HomePageTest"></class>
</classes>
</test>
</suite>
